div.bubble {
width:500px;
font-size:0.75em;
margin-bottom:20px;
}

div.bubble blockquote {
border:1px solid #598C10;
background-color:#FEDD8E;
margin:0;
padding:0;
}

div.bubble blockquote p {
margin:10px;
padding:0;
}

div.bubble cite {
position:relative;
top:6px;
background:transparent url(images/tip.gif) no-repeat 20px 0;
font-style:normal;
margin:0;
padding:7px 0 0 15px;
}

div.bubble div.rounded {
margin-bottom:10px;
border:3px solid #fff;
background-color:#FEDD8E;
}

div.bubble div.rounded blockquote {
border:0;
background-color:transparent;
}

div.bubble div.rounded blockquote p {
margin:0 10px;
}

div.bubble cite.rounded {
position:relative;
padding-left:15px;
padding-top:12px;
top:9px;
background:transparent url(images/tip-rounded.gif) no-repeat 15px 0;
margin:0;
}

div#pimped.bubble {
font-size:0.9em;
}

div#pimped.bubble div.rounded {
color:#477506;
border:3px solid #fff;
background-color:#F9EB9F;
}

div#pimped.bubble cite.rounded {
background:transparent url(images/tip-pimped.gif) no-repeat 15px 0;
}