ul#navmenu,ul#navmenu li,ul#navmenu ul {
border:0 none;
width:200px;
list-style:none;
margin:0;
padding:0;
}

ul#navmenu:after /*From IE 7 lack of compliance*/ {
clear:both;
display:block;
font:1px/0 serif;
content:".";
height:0;
visibility:hidden;
}

ul#navmenu li {
float:left;
display:block !important;
position:relative;
}

ul#navmenu a {
border:1px solid #85C329;
border-right-color:#85C329;
border-bottom-color:#bedb20;
display:block;
background:#85C329;
color:#FFF;
font:10px/22px Verdana, "Times New Roman", Times, serif;
text-decoration:none;
height:auto !important;
padding:0 6px;
}

ul#navmenu li:hover li:hover li:hover li a,ul#navmenu li.iehover li.iehover li.iehover li a {
background:#EEE;
color:#F0CC07;
}

ul#navmenu li:hover li:hover li:hover li a:hover,ul#navmenu li.iehover li.iehover li.iehover li a:hover {
background:#CCC;
color:#F0CC07;
}

ul#navmenu ul,ul#navmenu ul ul,ul#navmenu ul ul ul {
display:none;
position:absolute;
top:0;
left:200px;
}

ul#navmenu li:hover ul ul,ul#navmenu li:hover ul ul ul,ul#navmenu li.iehover ul ul,ul#navmenu li.iehover ul ul ul {
display:none;
}

ul#navmenu li:hover ul,ul#navmenu ul li:hover ul,ul#navmenu ul ul li:hover ul,ul#navmenu li.iehover ul,ul#navmenu ul li.iehover ul,ul#navmenu ul ul li.iehover ul {
display:block;
}

ul#navmenu a:hover,ul#navmenu li:hover a,ul#navmenu li.iehover a,ul#navmenu li:hover li a:hover,ul#navmenu li:hover li:hover a,ul#navmenu li.iehover li a:hover,ul#navmenu li.iehover li.iehover a,ul#navmenu li:hover li:hover li a:hover,ul#navmenu li:hover li:hover li:hover a,ul#navmenu li.iehover li.iehover li a:hover,ul#navmenu li.iehover li.iehover li.iehover a {
background:#477506;
color:#FFF;
}

ul#navmenu li:hover li a,ul#navmenu li.iehover li a,ul#navmenu li:hover li:hover li a,ul#navmenu li.iehover li.iehover li a {
background:#477506;
color:#F0CC07;
}